thead{
    background-color: #61a381;
    color: beige;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Table{
    width: 99%;
    /* max-height: 500px;
    overflow-y: auto; */
}
table {
    width: 100%;
    border-collapse: collapse; /* Ensures no spacing between table cells */
  }
  th,td{
    padding :10px;
    text-align: left;
  }
  tr{
    border-bottom: 1px solid #ddd;
  }
  tbody tr:last-child{
    border-bottom: 3px solid #61a381;
  }
  .tableBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .currentPage{
    height: 40px;
    width: 40px;
    background-color: #61a381;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: beige;
  }
  button{
    background-color:#61a381;
    color: beige;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 5px;
  }
  .tableList{
    width: 100%;
    padding-left: 25px;
    height: 400px;
  }